<div id="testimonial-carousel" class="carousel slide" data-ride="carousel">
    <!-- Wrapper for slides -->
    <div class="carousel-inner">

        {% for item in data %}

            <div class="item {% if loop.first %} active {% endif %}">
                <div class="row top-bar">
                    <div class="col-sm-2">
                        <img src="{{ item.field_email_value|emailtogravatar }}" class="img-responsive" style="width: 80px">
                    </div>
                    <div class="col-sm-10">
                        <h4 class="testimonial-name"><strong>{{ item.title }}</strong></h4>
                        <p class="testimonial_subtitle">{{ item.field_job_description_value|nl2br }}
                        </p>
                    </div>
                </div>
                <div class="row" style="padding: 20px">
                    <!--                                <button style="border: none;"><i class="fa fa-quote-left testimonial_fa" aria-hidden="true"></i></button>-->
                    <p class="testimonial_para">
                        {{ item.body_value|raw }}
                    </p>
                    <br />
                </div>
            </div>

        {% endfor %}

    </div>
</div>
<div class="controls testimonial_control pull-right">
    <a class="left fa fa-chevron-left btn btn-default testimonial_btn noclick" href="javascript:;"
       data-slide="prev"></a>

    <a class="right fa fa-chevron-right btn btn-default testimonial_btn noclick" href="javascript:;"
       data-slide="next"></a>
</div>